*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#0F172A;
color:#E2E8F0;
}

header{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:#111827;
z-index:1000;
}

.logo{
font-size:28px;
font-weight:700;
color:white;
}

.logo span{
color:#3B82F6;
}

nav a{
color:#CBD5E1;
margin-left:25px;
text-decoration:none;
transition:0.3s;
}

nav a:hover{
color:#3B82F6;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:0 10%;
}

.hero-content h1{
font-size:60px;
margin:20px 0;
}

.hero-content h2{
color:#3B82F6;
height:40px;
}

.hero-content p{
max-width:700px;
margin:auto;
line-height:1.8;
}

.btn{
display:inline-block;
margin-top:30px;
padding:14px 35px;
background:#3B82F6;
color:white;
text-decoration:none;
border-radius:30px;
transition:0.3s;
}

.btn:hover{
transform:translateY(-5px);
}

section{
padding:100px 10%;
}

.section-title{
text-align:center;
font-size:40px;
margin-bottom:50px;
}

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

.skill-card{
background:#1E293B;
padding:30px;
text-align:center;
border-radius:15px;
transition:0.3s;
}

.skill-card:hover{
transform:translateY(-8px);
}

.project-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}

.project-card{
background:#1E293B;
padding:30px;
border-radius:15px;
transition:0.3s;
}

.project-card:hover{
transform:translateY(-10px);
}

.timeline{
display:flex;
flex-direction:column;
gap:25px;
}

.timeline-item{
background:#1E293B;
padding:25px;
border-left:5px solid #3B82F6;
border-radius:10px;
}

.contact-box{
text-align:center;
line-height:2;
font-size:20px;
}

footer{
text-align:center;
padding:30px;
background:#111827;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

.hero-content h1{
font-size:42px;
}

.section-title{
font-size:32px;
}

}
